.poster {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.poster img:hover {
    filter: opacity(30%);
    
}

.poster-title {
    position: absolute;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14pt;
    cursor: pointer;
}

.info {
    display: none;
    flex-direction: column;
}

h2 {
    width: 100%;
}


#back-btn, #next-btn, #prev-btn {
    border: solid 1px #ffffff;
    width: 110px;
    font-size: 14pt;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    display: none;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 10px 5px 10px 5px;
}

#back-link {
  color: #343a40;
}

#back-link:hover {
  text-decoration: none;
}

#buttons {
  display: none;
}

#button-load {
  display: none;
}

.tv-logo {
    width: 75px;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 10px;
}

#info-facts {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.arrow {
    position: relative;
    height: 0px;
    width: 0px;
    border-top: 18px solid #dd1111;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    bottom: 40px;
    left: 57px;
    z-index: 1;
    animation: load-arrow 1.6s linear;
    animation-fill-mode: forwards;
    -webkit-animation: load-arrow 1.6s linear;
    -webkit-animation-fill-mode: forwards;
  }

  @keyframes load-arrow {

    from {
      transform: translate(0, 0);
    }

    to {
      transform: translate(0, 55px);
    }

  }

  @-webkit-keyframes load-arrow {

    from {
      -webkit-transform: translate(0, 0);
    }

    to {
      -webkit-transform: translate(0, 55px);
    }

  }

  .pie {
    width: 140px;
    height: 140px;
    position: relative;
    border-radius: 140px;
    float: left;
    margin-right: 10px;
    margin-bottom: 25px;
    background-color: #888888;
  }

  .pie .title {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 140px;

  }

  .mask {
    position: absolute;
    width: 100%;
    height: 100%;

  }

  .outer-left {
    clip: rect(0px 70px 140px 0px);
  }

  .outer-right {
    clip: rect(0px 140px 140px 70px);
  }

  .inner-left {
    background-color: #888888;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0px 70px 140px 0px);
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
  }

  .inner-right {
    background-color: #888888;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0px 70px 140px 0px);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }

  .content {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #343a40;
    position: absolute;
    top: 20px;
    left: 20px;
    line-height: 100px;
    font-family: arial, sans-serif;
    font-size: 35px;
    text-align: center;
    z-index: 2;
  }

  .new-entry {
    background-color: #2AA10F;
    margin-left: 10px;
    width: 80px;
    text-align: center;
    border-radius: 20px;
    font-size: 16pt;
    padding-bottom: 1px;
  }

  #added-year {
    font-size: 16pt;
    margin-left: 5px;
  }

  #filter-btn, #sort-btn, #random-btn {
    width: 110px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    border: solid 1px #ffffff;
    font-size: 14pt;
    margin-top: 15px;
  }

  .clicked {
    color: #343a40;
    background-color: #ffffff !important;
  }

  #filter-menu, #sort-menu {
    display: none;
  }

  .menu-item {
    border: solid 1px #333333;
    cursor: pointer;
    font-size: 14pt;
    width: 220px;
    padding: 5px;
  }

#filter-menu .menu-item {
    width: 160px;
}

  .menu-item:hover {
    background-color: #333333;
  }

  #sort-menu {
    margin-left: 120px;
  }

  #sorting:before {
    content: " ";
    white-space: pre;
  }

  #added-filters {
    margin-left: 160px;
    margin-top: -200px;
  }

  #watched-filters {
    margin-left: 160px;
    margin-top: -160px;
  }


  #last-filters {
    margin-left: 160px;
    margin-top: -120px;
  }

  #duration-filters {
    margin-left: 160px;
    margin-top: -280px;
  }

  #release-filters {
    margin-left: 160px;
    margin-top: -240px;
  }

  #platform-filters {
    margin-left: 160px;
    margin-top: -40px;
  }

  #movies {
    display: none;
    padding-bottom: 100px;
  }

  #loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #loading img {
    width: 70vw;
    margin-top: 50px;
    animation-direction: alternate;
  }

  #can {
    clip-path: polygon(0% 0%, 0% 100%);
  }

  .cast {
    cursor: pointer;
  }

  .cast:hover {
    filter: opacity(30%);
  }

  #back-to-start {
    font-size: 16pt;
    opacity: 1;
    transition: opacity 0.5s, visibility 0.5s;
    position: fixed;
    z-index: 99;
    right: 0px;
    user-select: none;
    bottom: 0px;
    color: #ffffff;
    background-color: #333333;
    opacity: 0.8;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    cursor: pointer;
    overflow: auto;
}
#back-to-start a {
    color:#ffffff
}

#back-to-start.hidden {
    opacity: 0;
    visibility: hidden;
}

#logo {
  height: 60px;
  margin-right: 5px;
}

#title-row {
  height: 70px;
  line-height: 60px;
  text-align: center;
  font-size: 2.5rem;
  border-bottom: solid 1px white;
  padding-bottom: 10px;
}

#info-cast {
    padding-bottom: 100px;
}

#see-more {
  padding: 15px;
  margin: 25px 10% 100px 10%; 
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: white;
  color:#333333;
  font-size: 16pt;
  border-radius: 25px;
  cursor: pointer;
}

#watch-it-on {
  margin-top: 25px;
}


/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}@keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;user-select:none;cursor:default;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}
